body {
  position: relative; 
}

ul li {
	list-style-type: circle;
}

.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
.navbar {
  margin-bottom: 0px;
}

.affix ~ .container-fluid {
 position: relative;
 top: 50px;
}

#header {background-image: url("../images/gamecollage.png")}
#logotext {z-index: 1;}*/

/*sections that are being popualted by query*/
#game-info {padding-top:50px;height:100%; background-color: #1E88E5;}
#game-reviews {padding-top:50px;height:100%; background-color: #673ab7;}
#game-videos {padding-top:50px;height:100%; background-color: #ff9800;}
#reddit-posts {padding-top:50px;height:100%; background-color: #00bcd4;}

#chart-div {padding: 50px;}
#questions {padding: 50px;}

#saved-search {
	margin-right: 20px;
	margin-left: 20px;
}
